<!-- Don't edit anything here, categories are dynamically generated -->
<div class="collapse navbar-collapse" id="navbarsExplore">
    {% assign categories_list = site.categories %}
      {% if categories_list.first[0] == null %}
        {% for category in categories_list %}
          <a class="nav-link" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }} ({{ site.tags[category].size }})</a>
        {% endfor %}
      {% else %}
        {% for category in categories_list %}
          <a class="nav-link" href="{{site.baseurl}}/categories.html#{{ category[0] | downcase }}">{{ category[0] }} ({{ category[1].size }})</a>
        {% endfor %}
      {% endif %}
    {% assign categories_list = nil %}

    </div>